
<div class="logo-container">
    <div class="ui-logo">
        <img 
            alt="Logo Rawbank"
            src="images/logo.png"
            srcset="images/logo.png 2x"
            class="logo-file"
        >
    </div>
</div>