<meta charset="UTF-8">
<title>Reservation Bank</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { 
        padding-left:20px;
        padding-right:20px;
    }
</style>