<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../layouts/head'); %>
</head>
<body>

<header>
    <%- include('../layouts/header'); %>
</header>

<main>
    <div class="main-container">
        <div class="head-container">
            <h1>RAWBANKONLINE, LA BANQUE EN UN CLIC</h1>
            <p class="head-content">
                Faites une reservation en ligne pour vos differentes opérations, et soyez reçus avec rapidité dans nos agences.
            </p>
        </div>
        <div class="head-call-action-container">
            <div class="action-item-container">
                <h2>Depot</h2>
                <p>Effectuer une opération de depot d'argent selon le montant voulu.</p>

                <div class="action-button">
                    <a href="/depot">
                        Clicker ici
                    </a>
                </div>
            </div>

            <div class="action-item-container">
                <h2>Retrait</h2>
                <p>L'utilisateur peut retirer de l'argent partant de son besoin.</p>

                <div class="action-button">
                    <a href="/retrait">
                        Clicker ici
                    </a>
                </div>
            </div>

            <div class="action-item-container">
                <h2>Frais academiques</h2>
                <p>Une somme de frais academiques est demandée à l'utilisateur pour la validité de l'opération.</p>

                <div class="action-button">
                    <a href="/frais-academiques">
                        Clicker ici
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../layouts/footer'); %>
</footer>

<!-- Optional JavaScript -->
<%- include('../layouts/scripts'); %>

</body>
</html>