<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../layouts/head'); %>
</head>
<body class="container">

<header>
    <%- include('../layouts/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Bienvenu</h1>
        <p>Faites une reservation pour etre reçu rapidement à nos agences.</p>
    </div>
</main>

<footer>
    <%- include('../layouts/footer'); %>
</footer>

</body>
</html>